<footer class="site-footer" data-observe>
  <div class="site-footer__inner">
    <p>&copy; {{ '' | year }} <a href="{{ site.author.url }}">{{ site.author.name }}</a>. Short Story licensed under {{ site.license }}.</p>
  </div>
</footer>
